<div class="container" style="margin-top: 10vh;">
	<% flash.each do |type, message| %>
	  <div class="alert alert-danger alert-dismissable fade-in">
	    <button class="close" data-dismiss="alert">×</button>
	    <%= message %>
	  </div>
	<% end %>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <% @columns.each do |c| %>	
		      <th><%= c %></th>
	      <% end %>
	      	  <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @all_mails.each do |m| %>
	  		<tr>
			  	<% @columns.each do |c| %>	
			  		<% if c=="created_at" %>
			  			<td><%= m[c].strftime("%a, %B %d %Y %I:%M %P") %></td>
			  		<% else %>
				    	<td><%= m[c] %></td>
				    <% end %>
			    <% end %>
			    <td>
			    	<%= link_to "Show",mails_show_path(m.id),class: 'btn btn-info', role: "button" %>
			    </td>	
			</tr>
	    <% end %>
	  </tbody>
	</table>
	<%= paginate @all_mails %>
</div>