<!DOCTYPE html>
<html>
  <head>
    <title>CNtask</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
     <meta name="google-site-verification"
             content="<meta name="google-site-verification" content="J9zT7tlbAIGb0rPVwKd2sPjsD5jH5A1dGhI0nixo-lY" />" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
